<body>
    <header>
        <nav>
            <p>Best Books!</p>
            <div class = "hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
    </header>