.hamburger-menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hamburger-menu>div {
    width: 1em;
    height: 0.125em;
    background-color: white;
    margin:0.1em;
    border-radius:2em;
  }
.main-header{
    text-align:center;
    background: #4a4a4a;
    line-height:2em;
}
#searchForm{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:2em auto;
}
#searchForm>*{
    box-sizing: border-box;
    margin:1em;
    height:3em;
}
#searchInput{
    border:0;
    padding:0.5em;
}
.radioButtons{
    padding:0.5em;
    display:flex;
    align-items: center;
    background:gray;
}
.radioButtons>label{
    margin-right:1.5em;
}
#submitBtn{
    height:3.5em;
    background:black;
    border:0;
    color:white;
}
#error{
    text-align: center;
}
#error>h2{
    font-size:5em;
}
#error>p{
    font-size:2em;
}
#error>img{
    width:50%;
    max-height:40%;
}
#front-page-img{
    width: 100%;
    position: absolute;
    top: 0;
    height: 93vh;
    z-index: -1;
}
#detailHeader{
    text-align: center;
}
#selectBook{
    display: none;
}